html, body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}


button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:disabled {
  opacity: .5;
}

label {
  font: inherit;
}

input {
  padding: .7rem 1rem;
  font: inherit;
  line-height: 1;
  border-radius: 5px;
  border: 1px solid darkgrey;
}

input:disabled {
  opacity: .4;
}

.alert {
  padding: 1rem .75rem;
  display: flex;
  justify-content: space-between;
  color: #721c24;
  background-color: #f8d7da;
  border:solid 1px #f5c6cb;
  border-radius: 5px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
}

.players {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.player {
  display: flex;
  align-items: center;
  gap: .2rem;
}

.disc {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  z-index: -1;
}

.disc-yellow {
  background-color: #f6db38;
  box-shadow: inset 0 0 0 3px #c0a91e;
  border: solid 3px #f6db38;
  outline: solid 1px #c0a91e;
}

.disc-red {
  background-color: #f63838;
  box-shadow: inset 0 0 0 3px #c01e1e;
  border: solid 3px #f63838;
  outline: solid 1px #c01e1e;
}

.selector {
  display: flex;
  gap: .5rem;
}

.selector .disc {
  margin: 10px;
  transform: scale(2);
}

.grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--cols), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  aspect-ratio: var(--cols) / var(--rows);
  background-color: #336dac;
  background: radial-gradient(
          circle,
          transparent,
          transparent 50%,
          #336dac 51%,
          #336dac 60.01%,
          #2a5782 80%
  );
  background-size: calc(100% / var(--cols)) calc(100% / var(--rows));
  border: 15px solid #2a5782;
  place-items: center;
  place-content: center;
  margin-top: calc(100% / var(--rows))
}

.grid .disc {
  width: 80%;
  aspect-ratio: 1 / 1;
  height: auto;
}

.grid .disc-yellow,
.grid .disc-red {
  animation: Drop calc(.20s * var(--row)) both;
}

/* .disc-active {
  border: 8px solid rgb(204, 58, 58);
} */

@keyframes Drop {
  from {
    transform: translateY(calc(-125% * var(--row)));
  }
}

.columns {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: flex-end;
}

.column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: calc(100% + 100% / var(--rows));
}

.column .disc {
  opacity: 0;
  transition: .3s;
  transform: translateY(-20px);
}

.column:hover .disc {
  opacity: 1;
  transform: translateY(0px);
}

.button {
  background-color: #e75eae;
  font: inherit;
  padding: .7rem 1rem;
  border-radius: 5px;
  color: rgb(11, 9, 9);
  line-height: 1;
}

.button:hover {
  background-color: #2e3649;
}

